/vendor/
node_modules/
npm-debug.log
yarn-error.log
/node_modules
/public/documentoCertificados
/public/documentoConfirmacion
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/composer
/storage
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache